*{
	color:black;
	
  }
  
  body{
	font:normal medium 'Gill Sans','Gill Sans MT','Goudy Bookletter 1911','Linux Libertine O','Liberation Serif',Candara,serif;
	font-family: Agency FB;
	padding:0;
	margin:0 auto;
	width:50em;
	line-height:1.75;
	word-spacing:0.1em;
	background: url("https://i.pinimg.com/564x/70/38/e9/7038e9f5ec3f8b40c6c73e8354aba061.jpg");
  }
  
  a{
	background:transparent;
	text-decoration:none;
	border-bottom:1px dotted
  }
  
  h1 a,h2 a,h3 a{
	color:inherit !important
  }
  
  h2,h3,p{
	margin:1.75em 0
  }
  
  h2,h3{
   border-radius: 5px;
	  background: #02c39a;
	  border: 2px solid black;
	  color: white;
	  text-align: center;
	  margin-bottom: 20px;
	
  }
  
  h1{
	letter-spacing:1em;
	text-align:center;
	margin:0
  }
  
  #header{
	background:  #80ffdb;
	color:black;
	margin:0;
	padding:1.75em 0;
	text-align:center;
  }
  
  #header p{
	text-align:center;
	font-size:16px;
	line-height:2.154
  }
  
  .post-date{
	float:right;
	font-size:small;
	margin:2px 0 0 0
  }
  
  #nav ul{
	margin:0;
	padding:0 1em 0 0;
	text-align:center
  }
  
  #nav li{
	display:inline;
	padding-left:1em
  }
  
  .sectionSign:before{
	content:'\00A7'
  }
  
  .entry{  
   
  margin: auto;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  sans-serif;
  background-color: #80ffdb;
  font-size: 20px;
  text-align: justify;  
  }
  
  #imagen{
	width: 30%;
  }
  .icono{
	text-align:center;
	
  }




  
.logo {
	width: 50px;
	margin: 20px;
	border-style: solid;
	border-radius: 50%;
  }
  
  .contacto {
	margin: 32px 0px 0px 0px;
	text-align: center;
  }
  .contenedor-redes {
	width: 50%;
	display: flex;
	margin: auto;
  }
  @media screen and (max-width: 600px) {
	.project-tile {
	  width: 100%;
	}
	.fotos {
	  width: 200px;
	  height: 260px;
	}
	
